img {
  float: left;
  width: 250px;
  height: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
  }


  section{
    background-color:white;
  }

  .img1 {
    border-radius: 4px;
    padding: auto;
    width: 20px;
    height:auto;
  }
  .img2{
    opacity: 0.3;
    background-image
  }

  input {
    width: 100%;
    margin: 2;
  }
  .hero-image {
    background-image: 
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .bkgc{
      background-color: grey;
  }

  .container{
    border: 5px solid black;
    display:grid;
   
  }
  .row{
    
  }
  div{
        border:5px solid;
    }
  
  .p{
    padding: 20px;
    text-align: left ;
  }
  footer{
      grid-area: footer;
      background:white;
  }