img {
  float: left;
  width: 250px;
  height: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
  }

  .img1 {
    border-radius: 4px;
    padding: auto;
    width: 20px;
    height:auto;
  }

  input {
    width: 100%;
    margin: 2;
  }

  .bkgc{
      background-color: grey;
  }

  .container{
    border: 5px solid black;
    display:grid;
   
  }
  .row{
    
  }
  div{
    border:{
        border:5px solid;
    }
  
  .p{
    padding: 20px;
  }
  footer{
      grid-area: footer;
      background:white;
  }